<header>
  <h1>Ayaan Irfan's Awesome Ibex — ITIS 3135</h1>
  <nav class="primary">
    <a href="index.html">Home</a> |
    <a href="survey.html">Survey</a> |
    <a href="gallery.html">Gallery</a> |
    <a href="inventory.html">Inventory</a> |
    <a href="instructions.html">Instructions</a> |
    <a href="highlight.html">Highlight</a>
  </nav>
  <nav class="secondary">
    <small>Other:</small>
    <a href="itis3135/stuff/WEB%20site!.htm">Crappy Page</a> |
    <a href="https://github.com/crayonware">GitHub</a> |
    <a href="https://www.freecodecamp.org/airfan">freeCodeCamp</a>
  </nav>
</header>
